@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda+SC:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Metamorphous&display=swap');
html{
    font-family: "Metamorphous", serif;
}

body {
    width: 1280px;
    /*background: rgb(255,186,221);*/
    background: linear-gradient(90deg, rgba(255,186,221,1) 0%, rgba(194,123,232,1) 44%, rgba(103,246,217,1) 100%);
}
.logo { 
    float: left;
    margin: auto;
 }
h1 {
    visibility: hidden;   
}
.banner{
    width: 100%;
    height: 500px;
    background-image: url(Images/velaris.jpg);
    background-size: cover;
    background-position: center center;
    margin-top: 100px;
 }
 h2{
    text-align: center;
}
nav li {
    float: right;
    line-height: 50px;
    padding-right: 30px;
    padding-top: 40px;
    list-style-type: none;
 }
 /*removing link lines and adding padding*/
 nav a{
    text-decoration: none;
    letter-spacing: 4px;
    font-size: 20px;
    padding: 10px;
    color: #000000;
 }
 /*changing the hover color*/
 nav a:hover {
    background: pink;
    color: white;
 }
img {
    display: block;
    margin: auto;
    width: 200px;
    height: auto;
}
/****************************************/
/*styles for carousel*/
.carousel-container {
    width: 80%;
    margin: auto;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}
.carousel {
    transition: transform 0.3s ease;
    float: left;
    padding-bottom: 20px;
}
.image-shown {
    display: inline-block;
}
.image-hidden {
    display: none;
}
.previous, .next {
    float: left;
    color: white;
}
.previous {
    margin-right: 15px;
}
.next {
   margin-left: 15px; 
}
/****************************************/
/*styles for accordion*/
#accordion{
    border: 2px solid;
    text-align:center;
}
footer {
   text-align: center;
}