body {
    width: 1280px;
    /*background: rgb(255,186,221);*/
    background: linear-gradient(90deg, rgba(255,186,221,1) 0%, rgba(194,123,232,1) 44%, rgba(103,246,217,1) 100%);
}

h1, h2{
    text-align: center;
}

nav li {
    float: right;
    line-height: 50px;
    padding-right: 30px;
    list-style-type: none;
 }
 /*removing link lines and adding padding*/
 nav a{
    text-decoration: none;
    letter-spacing: 4px;
    font-size: 20px;
    padding: 10px;
    color: #b06bfa;
 }
 /*changing the hover color*/
 nav a:hover {
    background: pink;
    color: white;
 }
img {
    display: block;
    margin: auto;
    width: 200px;
    height: auto;
}
/****************************************/
/*styles for carousel*/
.carousel-container {
    width: 80%;
    margin: 0 auto;
    overflow: hidden;
}
.carousel {
    display: flex;
    transition: transform 0.3s ease;
    float: left;
}
.image-shown {
    display: inline-block;
}
.image-hidden {
    display: none;
}
.previous, .next {
    float: left;
    margin-top: 130px ;
}
.previous {
    margin-right: 15px;
}
.next {
   margin-left: 15px; 
}
/****************************************/
/*styles for accordion*/
#accordion{
    border: 2px solid;
}